<div class="lb-toolbar" #toolbar>
  <div class="lb-closeContainer">
    <a class="lb-close" (click)="closeDialog($event)" #backArrow>
      <mat-icon>arrow_back</mat-icon>
    </a>
  </div>
  <div class="lb-actionContainer">
    <!-- <a class="lb-action">
      <mat-icon>favorite_border</mat-icon>
    </a>
    <a class="lb-action">
      <mat-icon>chat_bubble_outline</mat-icon>
    </a> -->
  </div>
</div>
<div class="lb-mainContainer">
  <div class="lb-outerContainer transition" #outerContainer>
    <div class="lb-container" #container>
      <img class="lb-image" [src]="album[currentImageIndex].src" class="lb-image animation fadeIn"
        [hidden]="ui.showReloader" #image>

      <div class="lb-loader" [hidden]="!ui.showReloader" (click)="close($event)">
        <a class="lb-cancel"></a>
      </div>
    </div>
  </div>
  <div class="lb-dataContainer" [hidden]="ui.showReloader" #dataContainer>
    <div class="lb-data">
      <div class="lb-likeContainer">
        <img class="lb-footprintImage" src="assets/images/footprint.png" alt="footprint">
        <p class="lb-like">3.4k</p>
      </div>
      <div class="lb-essenceContainer">
        <p class="lb-title">Rueben's Essence:</p>
        <p class="lb-description">
          Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do Lorem ipsum dolor sit amet, consectetur
          adpiscing elit, sed do
        </p>
      </div>
      <div class="lb-footprintContainer">
        <p class="lb-title">Rueben's Footprint:</p>
        <p class="lb-description">
          Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do Lorem ipsum dolor sit amet, consectetur
          adpiscing elit, sed do
        </p>
      </div>


      <!-- <div class="lb-details">
        <div class="overlayed-tap" #caption>
          <div class="viewed-users">
            <mat-icon>favorite_border</mat-icon>
            <div class="message-text">
              {{album[currentImageIndex].like}}
            </div>
          </div>
          <div class="viewed-users">
            <mat-icon>chat_bubble_outline</mat-icon>
            <div class="message-text">
              {{album[currentImageIndex].messages}}
            </div>
          </div>
        </div>
        <div class="lb-imgLoation">
          <span class="lb-number animation fadeIn" [hidden]="!ui.showPageNumber" #number>{{ content.pageNumber }}</span>
        </div>
      </div> -->
    </div>
  </div>
</div>
<div class="lb-nav" [hidden]="!ui.showArrowNav" #navArrow>
  <a class="lb-prev" [hidden]="!ui.showLeftArrow" (click)="prevImage()" #leftArrow></a>
  <a class="lb-next" [hidden]="!ui.showRightArrow" (click)="nextImage()" #rightArrow></a>
</div>