<div class="lb-toolbar" #toolbar>
  <div class="lb-closeContainer">
    <a class="lb-close" (click)="closeDialog($event)" #backArrow>
      <mat-icon>arrow_back</mat-icon>
    </a>
  </div>
  <div class="lb-actionContainer">
  </div>
</div>
<div class="lb-mainContainer">
  <div class="lb-outerContainer transition" #outerContainer>
    <div class="lb-container" #container>
      <img class="lb-image" [src]="album[currentImageIndex].url" class="lb-image animation fadeIn"
        [hidden]="ui.showReloader" #image>
    </div>
  </div>
  <div class="lb-dataContainer" [hidden]="ui.showReloader" #dataContainer>
    <div class="lb-data">
      <div class="lb-likeContainer">
        <img class="lb-footprintImage" (click)="onClickFootprint()"
          src="assets/images/footprint{{album[currentImageIndex].footPrinted ? '_selected' : ''}}.svg">
        <p class="lb-like" [ngClass]="{'footprinted': album[currentImageIndex].footPrinted}">
          {{album[currentImageIndex].likes  | countAbtract}}
        </p>
      </div>
      <div class="lb-essenceContainer">
        <p class="lb-title">{{album[currentImageIndex].poster}}'s Essence:</p>
        <p class="lb-description">
          {{album[currentImageIndex].essence}}
        </p>
      </div>
      <div class="lb-footprintContainer">
        <p class="lb-title">{{album[currentImageIndex].poster}}'s Footprint:</p>
        <p class="lb-description">
          {{album[currentImageIndex].footprint}}
        </p>
      </div>
    </div>
  </div>
</div>
<a class="lb-prev" [hidden]="!ui.showLeftArrow" (click)="prevImage()" #leftArrow></a>
<a class="lb-next" [hidden]="!ui.showRightArrow" (click)="nextImage()" #rightArrow></a>