<div class="row text-left">
    <div class="col-md-12 margin-auto">
        <div class="card">
            <div class="card-header">
                <!-- <h4 class="card-title">File Upload for Solo</h4> -->
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form [formGroup]="photoForm" novalidate>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input id="file_input" type="file" (change)="fileChangeEvent($event)"
                                        accept="image/png, image/jpeg" hidden="true">

                                    <label for="inputEmail">Image</label>

                                    <img *ngIf="!photoForm.controls['url'].value" class="iu-image"
                                        src="assets/images/no_image.jpg" alt="" (click)="openFileBrowser($event)" />
                                    <img (click)="openFileBrowser($event)" [src]="photoForm.controls['url'].value"
                                        class="iu-image" *ngIf="photoForm.controls['url'].value">
                                    <ngb-progressbar *ngIf="isUploading" type="warning" [value]="100" [striped]="true"
                                        [animated]="true"><i>Uploading</i>
                                    </ngb-progressbar>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputEmail">First Name</label>
                                            <input type="text" class="form-control" id="first_name"
                                                formControlName="first_name" required>
                                            <small class="form-text text-muted danger"
                                                *ngIf="!photoForm.get('first_name').valid && (photoForm.get('first_name').dirty || photoForm.get('first_name').touched)">
                                                First Name is required!
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputEmail">Last Name</label>
                                            <input type="text" class="form-control" id="last_name"
                                                formControlName="last_name" required>
                                            <small class="form-text text-muted danger"
                                                *ngIf="!photoForm.get('last_name').valid && (photoForm.get('last_name').dirty || photoForm.get('last_name').touched)">
                                                Last Name is required!
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputEmail">City</label>
                                            <input type="text" class="form-control" id="city" formControlName="city"
                                                required>
                                            <small class="form-text text-muted danger"
                                                *ngIf="!photoForm.get('city').valid && (photoForm.get('city').dirty || photoForm.get('city').touched)">
                                                City is required!
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputEmail">State</label>
                                            <input type="text" class="form-control" id="state" formControlName="state"
                                                required>
                                            <small class="form-text text-muted danger"
                                                *ngIf="!photoForm.get('state').valid && (photoForm.get('state').dirty || photoForm.get('state').touched)">
                                                State is required!
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputEmail">Country</label>
                                            <input type="text" class="form-control" id="country"
                                                formControlName="country" required>
                                            <small class="form-text text-muted danger"
                                                *ngIf="!photoForm.get('country').valid && (photoForm.get('country').dirty || photoForm.get('country').touched)">
                                                Country is required!
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputEmail">Date of Birth</label>
                                            <input type="date" class="form-control" id="yearOfBirth"
                                                formControlName="yearOfBirth" required>
                                            <small class="form-text text-muted danger"
                                                *ngIf="!photoForm.get('yearOfBirth').valid && (photoForm.get('yearOfBirth').dirty || photoForm.get('yearOfBirth').touched)">
                                                Date of Birth is required!
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputEmail">Essence</label>
                                            <textarea type="text" class="form-control" id="essence"
                                                formControlName="essence" required></textarea>
                                            <small class="form-text text-muted danger"
                                                *ngIf="!photoForm.get('essence').valid && (photoForm.get('essence').dirty || photoForm.get('essence').touched)">
                                                Essence is required!
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputEmail">Footprint</label>
                                            <textarea type="text" class="form-control" id="footprint"
                                                formControlName="footprint" required></textarea>
                                            <small class="form-text text-muted danger"
                                                *ngIf="!photoForm.get('footprint').valid && (photoForm.get('footprint').dirty || photoForm.get('footprint').touched)">
                                                Footprint is required!
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-right">
                            <div #paypal [hidden]="!photoForm.valid"></div>
                            <!-- <button type="button" class="btn btn-danger btn-raised mr-1">Cancel</button>
                            <button type="button" class="btn btn-success btn-raised"
                                [disabled]="!photoForm.valid">Submit</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



















<!-- 
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="fill-remaining-space">
            File Upload for Solo
        </span>
        <span class="example-spacer"></span>
        <button mat-button [routerLink]="[ '/join-us']">Back</button>
    </mat-toolbar-row>
</mat-toolbar>


<div class="container" novalidate>
    <form class="form" [formGroup]="photoForm">

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

    </form>
</div> -->