<section id="fabs-examples">

    <div class="grid-hover">
        <div class="row">
            <div class="col-md-6 col-12">
                <figure class="effect-milo margin-right-0">
                    <img src="assets/images/solo.jpg" alt="img11" />
                    <figcaption>
                        <h2>Solo
                            <span>$100</span>
                        </h2>
                        <p>Milo went to the woods. He took a fun ride and never came back.
                        </p>
                        <a (click)="goCustomImageUpload('solo')">View more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 col-12">
                <figure class="effect-milo margin-left-0">
                    <img src="assets/images/familia.jpg" alt="img03" />
                    <figcaption>
                        <h2>Con Mi Familia
                            <span>$250</span>
                        </h2>
                        <p>Milo went to the woods. He took a fun ride and never came back.
                        </p>
                        <a (click)="goCustomImageUpload('familia')">View more</a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>


    <!-- <div class="row text-left" matchHeight="card">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-img">
                        <img class="card-img-top img-fluid" src="assets/images/solo.jpg" alt="Card image cap">
                        <h4 class="card-title">$100</h4>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-raised btn-warning" (click)="goCustomImageUpload('solo')">Solo</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-img">
                        <img class="card-img-top img-fluid" src="assets/images/familia.jpg" alt="Card image cap">
                        <h4 class="card-title">$250</h4>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-raised btn-success" (click)="goCustomImageUpload('familia')">Con Mi
                            Familia</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</section>