.navbar {
    @media (min-width: 320px) and (max-width: 480px) {
        padding: 0px 5px !important;
    }

    .icons-group {
        display: none;
        @media (min-width: 320px) and (max-width: 480px) {
            display: block;
            position: absolute;
            right: 0px;
            top: 0px;
            .gallery-icon {
                color: #d87a68 !important;
            }
            .join-icon {
                color: #1087dd !important;
            }
        }
    }
}
h2 {
    margin: 5px auto;
    @media (min-width: 320px) and (max-width: 480px) {
        font-size: 18px;
        margin: 10px auto;
    }
}
.navbar-container {
    @media (min-width: 320px) and (max-width: 480px) {
        padding: 0px !important;
    }
    .navbar-nav {
        @media (min-width: 320px) and (max-width: 480px) {
            // position: absolute;
            // right: 25px;
            // top: 5px;
            display: none;
        }
    }
}
