<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="fill-remaining-space">
            File Upload for Con mi Familia
        </span>
        <span class="example-spacer"></span>
        <button mat-button [routerLink]="[ '/join-us']">Back</button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container" novalidate>
    <!-- <div #alert class="alert alert-primary alert-dismissible fade show" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
        You can upload up to 5 images
    </div> -->
    <!-- <form class="form" [formGroup]="photoForm" (ngSubmit)="onSubmitPhotoForm()"> -->
    <form class="form" [formGroup]="photoForm">
        <div formArrayName="photosForFamilia" class="row">
            <div *ngFor="let item of photosForFamilia.controls; let i = index" [formGroupName]="i"
                class="col-sm-12 col-md-6 margin-bottom-10">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Person{{i+1}}' Image</mat-card-title>
                        <button mat-button class="close-button" (click)="deletePhotoFamilia(i)">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-card-header>
                    <mat-card-content>

                        <input id="file_input" type="file" (change)="fileChangeEvent($event, i)"
                            accept="image/png, image/jpeg">
                        <div>
                            <img [src]="photosForFamilia.controls[i].get('url').value" class="iu-image"
                                *ngIf="photosForFamilia.controls[i].get('url').value">
                            <mat-progress-bar mode="indeterminate"
                                *ngIf="photosForFamilia.controls[i].get('isUploading').value"></mat-progress-bar>
                        </div>

                        <mat-form-field class="form-element">
                            <input matInput placeholder="Name" formControlName="name">
                            <mat-error
                                *ngIf="!photosForFamilia.controls[i].get('name').valid && photosForFamilia.controls[i].get('name').touched">
                                Name is required!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-element">
                            <input matInput placeholder="City" formControlName="city">
                            <mat-error
                                *ngIf="!photosForFamilia.controls[i].get('city').valid && photosForFamilia.controls[i].get('city').touched">
                                City is required!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-element">
                            <input matInput placeholder="State" formControlName="state">
                            <mat-error
                                *ngIf="!photosForFamilia.controls[i].get('state').valid && photosForFamilia.controls[i].get('state').touched">
                                State is required!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-element">
                            <input matInput placeholder="Country" formControlName="country">
                            <mat-error
                                *ngIf="!photosForFamilia.controls[i].get('country').valid && photosForFamilia.controls[i].get('country').touched">
                                Country is required!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-element">
                            <input matInput placeholder="Year Of Birth" formControlName="yearOfBirth">
                            <mat-error
                                *ngIf="!photosForFamilia.controls[i].get('yearOfBirth').valid && photosForFamilia.controls[i].get('yearOfBirth').touched">
                                Year Of Birth is required!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-element">
                            <textarea matInput placeholder="Essence" formControlName="essence"></textarea>
                            <mat-error
                                *ngIf="!photosForFamilia.controls[i].get('essence').valid && photosForFamilia.controls[i].get('essence').touched">
                                Essece is required!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-element">
                            <textarea matInput placeholder="Footprint" formControlName="footprint"></textarea>
                            <mat-error
                                *ngIf="!photosForFamilia.controls[i].get('footprint').valid && photosForFamilia.controls[i].get('footprint').touched">
                                footprint is required!
                            </mat-error>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>


        <!-- <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!photoForm.valid">
                Upload Image
            </button>
        </div> -->

    </form>
    <div class="row">
        <div class="form-element col-sm-12 col-md-4 margin-bottom-10 padding-rl-15" *ngIf="photosForFamilia.length < 5">
            <button mat-raised-button color="primary" class="button" (click)="addPhotoFamilia()">
                Add Another Person
            </button>
        </div>

    </div>
    <div class="row">
        <div #paypal [hidden]="!photoForm.valid" class="col-sm-12 col-md-4 margin-bottom-10"></div>
    </div>
</div>