<mat-toolbar color="primary">
    <span class="fill-remaining-space">
        Join Us
    </span>
</mat-toolbar>

<div class="p-grid">
    <div class="p-col-12 p-md-6 card-container">
        <p-card [style]="{width: '360px' }" styleClass="ui-card-shadow">
            <p-header>
                <img src="Card" src="assets/images/solo.jpg">
            </p-header>
            <p-footer>
                <button pButton type="button" label="Solo" icon="pi pi-check" style="margin-right: .25em"
                    (click)="goCustomImageUpload('solo')"></button>
                <span>$100</span>
            </p-footer>
        </p-card>
    </div>
    <div class="p-col-12 p-md-6 card-container">
        <p-card [style]="{width: '360px' }" styleClass="ui-card-shadow">
            <p-header>
                <img src="Card" src="assets/images/familia.jpg">
            </p-header>
            <p-footer>
                <button pButton type="button" label="Con Mi Familia" icon="pi pi-check" style="margin-right: .25em"
                    class="ui-button-raised ui-button-success" (click)="goCustomImageUpload('familia')"></button>
                <span>$250</span>
            </p-footer>
        </p-card>
    </div>
</div>