<div class="masonry-demo" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()" [scrollWindow]="false" #tabsContentRef>
    <h1>Ngx Masonry Demo</h1>
    <ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true">
        <div ngxMasonryItem *ngFor="let picture of _albums; let i = index;" class="masonry-item">
            <img src="{{picture.url}}" (click)="open(i)">
            <div *ngIf="!_isMobile" class="overlayed-tap" (click)="open(i)">
                <div class="viewed-users">
                    <img *ngIf="!picture.footPrinted" class="lb-footprintImage" src="assets/images/footprint.png"
                        alt="footprint">
                    <img *ngIf="picture.footPrinted" class="lb-footprintImage"
                        src="assets/images/footprint_selected.png" alt="footprint">
                    <div class="message-text" [ngClass]="{'footprinted': picture.footPrinted}">
                        {{picture.likes | countAbtract}}
                    </div>
                </div>
            </div>
            <div *ngIf="_isMobile && picture.isShow" class="masonry-content">
                <div class="lb-likeContainer">
                    <img *ngIf="!picture.footPrinted" class="lb-footprintImage" src="assets/images/footprint.png"
                        (click)="onClickFootprint(picture)">
                    <img *ngIf="picture.footPrinted" class="lb-footprintImage"
                        src="assets/images/footprint_selected.png" (click)="onClickFootprint(picture)">
                    <p class="lb-like" [ngClass]="{'footprinted': picture.footPrinted}">{{picture.likes | countAbtract}}
                    </p>
                </div>
                <div class="lb-essenceContainer">
                    <p class="lb-title">Rueben's Essence:</p>
                    <p class="lb-description">
                        Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do Lorem ipsum dolor sit amet,
                        consectetur
                        adpiscing elit, sed do
                    </p>
                </div>
                <div class="lb-footprintContainer">
                    <p class="lb-title">Rueben's Footprint:</p>
                    <p class="lb-description">
                        Lorem ipsum dolor sit amet, consectetur adpiscing elit, sed do Lorem ipsum dolor sit amet,
                        consectetur
                        adpiscing elit, sed do
                    </p>
                </div>
            </div>

        </div>
    </ngx-masonry>

    <!-- <button *ngIf="limit < 100" (click)="showMoreImages()">Show More Images</button> -->
    <h2 *ngIf="limit >= 100">No More Images</h2>
</div>