<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="fill-remaining-space">
            File Upload for Solo
        </span>
        <span class="example-spacer"></span>
        <button mat-button [routerLink]="[ '/join-us']">Back</button>
    </mat-toolbar-row>
</mat-toolbar>


<div class="container" novalidate>
    <!-- <form class="form" [formGroup]="photoForm" (ngSubmit)="onSubmitPhotoForm()"> -->
    <form class="form" [formGroup]="photoForm">

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Shiba Inu</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <input id="file_input" type="file" (change)="fileChangeEvent($event)" accept="image/png, image/jpeg">
                <div>
                    <img [src]="photoForm.controls['url'].value" class="iu-image"
                        *ngIf="photoForm.controls['url'].value">
                    <mat-progress-bar mode="indeterminate" *ngIf="isUploading"></mat-progress-bar>
                </div>

                <mat-form-field class="form-element">
                    <input matInput placeholder="Name" formControlName="name">
                    <mat-error *ngIf="!photoForm.controls['name'].valid && photoForm.controls['name'].touched">
                        Name is required!
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput placeholder="City" formControlName="city">
                    <mat-error *ngIf="!photoForm.controls['city'].valid && photoForm.controls['city'].touched">
                        City is required!
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput placeholder="State" formControlName="state">
                    <mat-error *ngIf="!photoForm.controls['state'].valid && photoForm.controls['state'].touched">
                        State is required!
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput placeholder="Country" formControlName="country">
                    <mat-error *ngIf="!photoForm.controls['country'].valid && photoForm.controls['country'].touched">
                        Country is required!
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <input matInput placeholder="Year Of Birth" formControlName="yearOfBirth">
                    <mat-error
                        *ngIf="!photoForm.controls['yearOfBirth'].valid && photoForm.controls['yearOfBirth'].touched">
                        Year Of Birth is required!
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <textarea matInput placeholder="Essence" formControlName="essence"></textarea>
                    <mat-error *ngIf="!photoForm.controls['essence'].valid && photoForm.controls['essence'].touched">
                        Essece is required!
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <textarea matInput placeholder="Footprint" formControlName="footprint"></textarea>
                    <mat-error
                        *ngIf="!photoForm.controls['footprint'].valid && photoForm.controls['footprint'].touched">
                        footprint is required!
                    </mat-error>
                </mat-form-field>

                <div #paypal [hidden]="!photoForm.valid"></div>
            </mat-card-content>
        </mat-card>

        <!-- <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!photoForm.valid">
                Upload Image
            </button>
        </div> -->

    </form>
</div>